
.header-navigation-area {
    @media #{$md-device, $sm-device}{
        padding: 20px 0;
    }
}

// header logo
.logo {
    max-width: 140px;
    //res
    @media #{$sm-device} {
        max-width: 130px;
    }
}

// header navigation menu
.main-menu {
    text-align: right;
    ul {
        li {
            display: inline-block;
            position: relative;
            a {
                color: $white;
                font-weight: 500;
                display: inline-block;
                padding: 30px;
                // res
                @media #{$md-device}{
                    padding: 25px 15px;
                }
                &.router-link-exact-active {
                    color: $theme-color-primary;
                }
            }
            &:hover > {
                a {
                    color: $theme-color-primary;
                }
            }
            .submenu {
                position: absolute;
                top: 100%;
                left: 0;
                width: 200px;
                background-color: $bg-light;
                transition: 0.4s;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transform: translateY(15px);
                li {
                    display: block;
                    text-align-last: left;
                    a {
                        color: $white;
                        display: block;
                        padding: 10px 20px;
                        &.router-link-exact-active {
                            color: $theme-color-primary;
                        }
                    }
                }
            }
            &:hover {
                .submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    li {
                        &:hover > {
                            a {
                                color: $theme-color-primary;
                            }
                        }
                    }
                }
            }
            &:last-child {
                a {
                    padding-right: 0;
                }
            }
        }
    }
}